body {
    background-color: #c8edff;
}

.box {
    width: 6vw;
    height: 6vw;
    background-color: rgb(26, 1, 255);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;

}
.forms {
    position: absolute;
    width: 20%;
    cursor: grab;
}